PRACTICAS XML CLASE/EJERCICIOS PLATEGA DTD/Tarefa_5_B.dtd

<!ELEMENT reservas (reserva+)>
<!ATTLIST reservas
<!ELEMENT reserva (data, informacion,(clienteEmpresa|clientePersonal))>
<!ATTLIST reserva
ano CDATA #REQUIRED>
<!ELEMENT data (#PCDATA)>
<!ELEMENT informacion (#PCDATA)>
<!ELEMENT clienteEmpresa (#PCDATA)>
<!ELEMENT clientePersonal (#PCDATA)>
<!ATTLIST data 
mes CDATA #REQUIRED
dia CDATA #REQUIRED
horario (maña|tarde|dia) "tarde"
>


local (Polideportivo|Local) #REQUIRED
bonificacion CDATA #IMPLIED>