PRACTICAS XML CLASE/EJERCICIOS PLATEGA DTD/Ejercicios 5/Tarefa_5_A.dtd

<!ELEMENT edificio (enderezo, dataConstrucion, material?)>
<!ATTLIST edificio
 valor CDATA #IMPLIED
 alquiler (verdadeiro|falso) #REQUIRED>
 <!ELEMENT enderezo (rua, numero, poboacion, provincia, codigoPostal)>
 <!ELEMENT rua (#PCDATA)>
 <!ELEMENT numero (#PCDATA)>
 <!ELEMENT poboacion (#PCDATA)>
 <!ELEMENT provincia (#PCDATA)>
 <!ELEMENT codigoPostal (#PCDATA)>
 <!ELEMENT dataConstrucion EMPTY>
 <!ATTLIST dataConstrucion
 mes CDATA #REQUIRED
 ano CDATA #REQUIRED>
 <!ELEMENT material (#PCDATA)>