PRACTICAS XML CLASE/EJERCICIOS PLATEGA DTD/Ejercicios 6/Tarefa_6_B.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Hardware [
<!ELEMENT Hardware (Maquina)*>

  <!ELEMENT Maquina (Info, Config, Notas?,Espazo)>
  
  <!ATTLIST Maquina
        idMaquina ID #REQUIRED
        idFabricante IDREF #IMPLIED
        idUbicacion IDREF  #IMPLIED>

        <!ELEMENT Info (Tipo, Fabricante?, Procesador?, Memoria?, Disco*, 
        (Lectora | Gravadora)?)>
        
          <!ELEMENT Tipo (#PCDATA)>
          <!ELEMENT Fabricante (nome,web,correo)>
                              <!ELEMENT nome (#PCDATA)>
                              <!ELEMENT web (#PCDATA)>
                              <!ELEMENT correo (#PCDATA)>
          <!ATTLIST Fabricante
                idFabricante ID #REQUIRED>
                
          <!ELEMENT Procesador (#PCDATA)>
          <!ATTLIST Procesador
                   Marca (Intel | AMD) #REQUIRED
                   NumNucleos CDATA "1"
                   Velocidade CDATA #IMPLIED>
                   
          <!ELEMENT Memoria (#PCDATA)>
          <!ATTLIST Memoria
                    Tecnoloxía (DDR | DDR2 | DDR3) #IMPLIED>

          <!ELEMENT Disco EMPTY>
          <!ATTLIST Disco
                     Tecnoloxía (ATA | SATA | SCSI | SSD) #IMPLIED
                     Capacidade CDATA #REQUIRED>
          <!ENTITY % UnidadeOptica 
             "Tipo (CD | DVD | BD) #REQUIRED
             Velocidade CDATA #IMPLIED">
             
          <!ELEMENT Lectora EMPTY>
          <!ATTLIST Lectora  %UnidadeOptica; >
          <!ELEMENT Gravadora EMPTY>
          <!ATTLIST Gravadora %UnidadeOptica; >

          <!ELEMENT Config (Role*, OS?, IP*, Gateway?)>
                        <!ELEMENT Role (#PCDATA)>
                        <!ELEMENT OS (#PCDATA)>
                        <!ELEMENT IP (#PCDATA)>
                        <!ELEMENT Gateway (#PCDATA)>
                        
          <!ELEMENT Notas (#PCDATA)>
          
          <!ELEMENT Espazo (nome, tipo)>
          <!ATTLIST Espazo
            idUbicacion ID #REQUIRED>
]>        <!ATTLIST Memoria
                    Tecnoloxía (DDR | DDR2 | DDR3) #IMPLIED>

          <!ELEMENT Disco EMPTY>
          <!ATTLIST Disco
                     Tecnoloxía (ATA | SATA | SCSI | SSD) #IMPLIED
                     Capacidade CDATA #REQUIRED>
          <!ENTITY % UnidadeOptica 
             "Tipo (CD | DVD | BD) #REQUIRED
             Velocidade CDATA #IMPLIED">
             
          <!ELEMENT Lectora EMPTY>
          <!ATTLIST Lectora  %UnidadeOptica; >
          <!ELEMENT Gravadora EMPTY>
          <!ATTLIST Gravadora %UnidadeOptica; >

          <!ELEMENT Config (Role*, OS?, IP*, Gateway?)>
                        <!ELEMENT Role (#PCDATA)>
                        <!ELEMENT OS (#PCDATA)>
                        <!ELEMENT IP (#PCDATA)>
                        <!ELEMENT Gateway (#PCDATA)>
                        
          <!ELEMENT Notas (#PCDATA)>
          
          <!ELEMENT Espazo (nome, tipo)>
          <!ATTLIST Espazo
            idUbicacion ID #REQUIRED>
]>


<Hardware>

<Maquina>
</Maquina>

<Maquina>
</Maquina>

</Hardware>

<!-- 
Pagina 40 apuntes platega validaciones con dtd 
b)Tarefa6b
Partindo do seguinte DTD (hardware.dtd), no que se definen documentos XML que almacenan información sobre o hardware e a configuración de distintas máquinas (principalmente 
ordenadores, pero tamén se poderían aplicar, por exemplo, a impresoras).
 Modifica o DTD para que no mesmo documento podamos incluir información sobre:
– Os fabricantes de ordenadores: "nome", páxina "Web" e enderezo de "correo" electrónico.
– Os espazos nos que se atopan os ordenadores: "nome", "tipo" (aula, sala, departamento), e "ubicación".
– Ademáis dentro do DTD teremos que empregar referencias para:
– Indicar o fabricante de cada ordenador
– Indicar os ordenadores que temos en cada espazo
 Crea un documento XML que valide coa DTD que acabas de modificar.
DTD
<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Hardware (Maquina*)>
<!ELEMENT Maquina (Info, Config, Notas?)>
<!ELEMENT Info (Tipo, Fabricante?, Procesador?, Memoria?, Disco*, 
(Lectora | Gravadora)?)>
<!ELEMENT Tipo (#PCDATA)>
<!ELEMENT Fabricante (#PCDATA)>
<!ELEMENT Procesador (#PCDATA)>
<!ELEMENT Memoria (#PCDATA)>
<!ELEMENT Disco EMPTY>
<!ELEMENT Lectora (#PCDATA)>
<!ELEMENT Gravadora (#PCDATA)>
<!ELEMENT Config (Role*, OS?, IP*, Gateway?)>
<!ELEMENT Role (#PCDATA)>
<!ELEMENT OS (#PCDATA)>
<!ELEMENT IP (#PCDATA)>
<!ELEMENT Gateway (#PCDATA)>
<!ELEMENT Notas (#PCDATA)>
<!ENTITY % Unidade_optica 
 "Tipo (CD | DVD | BD) #REQUIRED
 Velocidade CDATA #IMPLIED">
<!ATTLIST Maquina
 Nome ID #REQUIRED>
<!ATTLIST Procesador
 Marca (Intel | AMD) #REQUIRED
 NumNucleos CDATA "1"
 Velocidade CDATA #IMPLIED>
<!ATTLIST Disco
 Tecnoloxía (ATA | SATA | SCSI | SSD) #IMPLIED
 Capacidade CDATA #REQUIRED>
<!ATTLIST Memoria
 Tecnoloxía (DDR | DDR2 | DDR3) #IMPLIED>
<!ATTLIST Lectora %Unidade_optica; >
<!ATTLIST Gravadora %Unidade_optica; >


-->