DTD/Carpeta personal/PRACTICAS XML CLASE/EJERCICIOS PLATEGA DTD/Ejercicios 6/Tarefa_6_C.dtd

<!ELEMENT material (libro?,artigo?)>
<!ELEMENT libro (titulo,editorial,autor,ano)>
    <!ELEMENT titulo (#PCDATA)>
    <!ELEMENT editorial (#PCDATA)>
    <!ELEMENT autor (#PCDATA)>
    <!ELEMENT ano (#PCDATA)>
<!ATTLIST libro ISBN CDATA #REQUIRED>

<!ELEMENT artigo (titulo,revista)>
      <!ELEMENT revista (nome,paxina)>
          <!ELEMENT nome (#PCDATA)>
          <!ELEMENT paxina (#PCDATA)>
<!ATTLIST revista numero CDATA #REQUIRED>



