Evaluacion_01/Ejercicios/DTD/Carpeta Personal/PRACTICAS XML CLASE/EJERCICIOS PLATEGA DTD/Ejercicios 5/Tarefa_5_B.dtd

<!ELEMENT reservas (reserva+)>
<!ELEMENT reserva (data, informacion,(clienteEmpresa|clientePersonal))>
<!ELEMENT data EMPTY>
<!ELEMENT informacion (#PCDATA)>
<!ELEMENT clienteEmpresa (#PCDATA)>
<!ELEMENT clientePersonal (#PCDATA)>
<!ATTLIST data 
mes CDATA #REQUIRED
dia CDATA #REQUIRED
horario (maña|tarde|dia) "tarde"
>
<!ATTLIST reservas
ano CDATA #REQUIRED>
<!ATTLIST reserva
local (Polideportivo|Local) #REQUIRED
bonificacion CDATA #IMPLIED>
